<header>
  <!-- Mostrar el componente "NavbarComponent" mediante su selector: "app-navbar". -->
  <app-navbar></app-navbar> 
</header>

<div class="content" role="main">
  <span>App component:</span>
  <h1>Variable publica: {{ title }}</h1>
  <h1>Metodo publico: {{ saludoHtml('Darth Vader', 40) }}</h1>
  
  <!-- Tag propia de angular cuya finalidad es mostrar dinamicamente componentes según el estado actual del enrutador (Ruta del navegador). -->
  <router-outlet></router-outlet>
</div>

<footer>
  <!-- Mostrar el componente "FooterComponent" mediante su selector: "app-footer". -->
  <app-footer></app-footer>
</footer>
